textarea {
  min-height: 400px;
}

#email-list li {
  border: 1px rgb(133, 132, 132) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 3px;
  transition: all 0.7s;
}

#email-list li:hover {
  cursor: pointer;
  border: 1px black solid;
  background-color: rgb(211, 211, 211);
  transition: all 0.5s;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.timestamp {
  color: gray;
}

#email-body {
  border-top: 1px gray solid;
  margin-top: 1em;
  padding: 1em;
}

.email-detail {
  display: flex;
}

#email-buttons {
  display: flex;
  gap: 1em;
}

#reply {
  border: 2px rgb(60, 60, 253) solid;
  color: rgb(60, 60, 253);
}

#archive {
  border: 2px rgb(252, 72, 72) solid;
  color: rgb(252, 72, 72);
}

.read {
  background-color: rgb(231, 231, 231);
}
